
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f2f5;
    padding: 50px;
}

.box {
    width: 200px;
    height: 100px;
    display: inline-block;
    background-color: white;
    color: #333;
    line-height: 100px; 
    font-weight: bold;
}


.padding-box {
    padding: 40px; 
    background-color: #ff9f43;
    color: white;
}


.border-box {
    border: 10px solid #5f27cd;
    background-color: #48dbfb;
}



.margin-box {
    margin: 60px;
    background-color: #1dd1a1;
    color: white;
}
