
h1 {
    color: #2c3e50;
    text-align: center;
    font-family: sans-serif;
}


.highlight-text {
    color: #3498db;
    font-weight: bold;
    font-size: 18px;
}


#unique-item {
    background-color: #f1c40f;
    color: black;
    padding: 10px;
    width: fit-content;
}
